/* Styles go here */
/*  CC BY-SA 3.0 - Subtle Patterns © Toptal Designers.*/
body {
  background-image: url("../img/cool-background.png");

}
.dropdownItem {
    font-weight: bold;
    font-size: 35px;
    text-decoration: none;
    color: #2b2b2b;
    transition: all 0.3s;
    font-weight: bold;
    background: #f12711;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f5af19, #f12711);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f5af19, #f12711);
}

.dropdownItem:hover {
    text-decoration: none;
    color: #4b4b4b;
}
.dropdownItem:focus {
    text-decoration: none;
     /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.rowMain {
    font-weight: bold;
    background: #f12711;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f5af19, #f12711);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f5af19, #f12711); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.token:hover {
    text-decoration: none;
}
.token {
    border-radius: 20px;
    text-decoration: none;
}
.lead {
    font-size: 27px;
}

.nazwa {
    color: #f12711;
}
.form-inline {
    background: #b92b27;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1565C0, #b92b27);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1565C0, #b92b27); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.btn-lgg {
    border-radius: 20px;
}
.token {
    color: #403735;
    border: 5px solid #403735;
    transition: all 0.5s;
}
.token:hover {
    color: white;
    background:  #403735;
}
.tresc {
    border-radius: 20px;
    border: 2px solid #c65418;
}
.problem {
    border-radius: 20px;
    border: 2px solid #c65418;
}
.list-group-item {
    font-weight: bold;

}
.list-group-item:hover {
    cursor: pointer;

}
.textarea {
    font-size: 25px;
}
.linkGlowny1 {
    border-radius: 40px;
    background: #ff9600;
    transition: all 0.3s;
    color: white;
}
.linkGlowny1:hover {

    color: #f12711;
}
.linkGlowny2:hover {

    color: #ff9600;
}
.linkGlowny2 {
    border-radius: 40px;
    background: #f12711;
    transition: all 0.3s;
    color: white;
}
.btn-success {
    font-size: 20px;
    border-radius: 3px;
}